---
import { Image } from 'astro:assets';
import heroImage from '../assets/hero.svg';
import SectionLayout from '../layouts/SectionLayout.astro';
---

<SectionLayout>
    <h1 class='font-semibold text-md sm:text-2xl md:text-3xl lg:text-5xl text-shadow-xl uppercase'>
        Nowoczesne strony internetowe
    </h1>
    <p class='text-[0.6rem] sm:text-md md:text-lg lg:text-2xl text-shadow-xl'>
        Oferujemy strony, które wyróżniają się na tle konkurencji.
    </p>
    <Image class='py-5' src={heroImage} alt='website advertising' />
</SectionLayout>
