---
import { services } from '../data/services-data.json';
import ServicesItem from './ServicesItem.astro';
---

<section>
    <ul>
        {
            services.map((service) => (
                <ServicesItem title={service.title} image={service.image} items={service.items} />
            ))
        }
    </ul>
</section>
