---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import 'aos/dist/aos.css';
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang='pl'>
    <head>
        <script defer data-domain='websites.kris1027.pl' src='https://plausible.io/js/script.js'
        ></script>

        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Navigation />
        <main class='max-w-7xl mx-auto'>
            <slot />
        </main>
        <Footer />

        <script>
            import AOS from 'aos';
            document.addEventListener('DOMContentLoaded', () => {
                AOS.init({
                    duration: 1000,
                    once: true,
                });
            });
        </script>
    </body>
</html>
